{{ define "main" }}


  <div class="columns">
    <div class="column">
      <h1>Book 1</h1>
      {{range .Pages}}
        {{if le .Weight 11}}
          <h3><li>  <a href="{{.Permalink}}">{{.Title}}</a> </li></h3>
         {{end}}
      {{end}}
    </div>

    <div class="column">
      <h1>Book 2</h1>
      {{range .Pages}}
        {{if and (gt .Weight 11) (le .Weight 23)}}
          <h3><li>  <a href="{{.Permalink}}">{{.Title}}</a> </li></h3>
         {{end}}
      {{end}}
    </div>

    <div class="column">
      <h1>Book 3</h1>
      {{range .Pages}}
        {{if gt .Weight 23}}
          <h3><li>  <a href="{{.Permalink}}">{{.Title}}</a> </li></h3>
         {{end}}
      {{end}}
    </div>

  </div>

{{ end }}
